<h1> Your trip: <%= @trip.name %> </h1>
<p> User: <%= @trip.user.username %>

<br>

<%= link_to "Add a location to your trip", new_city_trip_path(@trip) %>
<br>
<br>
<%= link_to "Edit your trip name", edit_trip_path %>

<%= button_to "Delete Trip", {}, { method: :delete } %>
