<h1> Welcome, <%=@user.username%> </h1>

<h2> Your Bio: <%= @user.bio%> </h2>

<h3><%= link_to "See your wishlist", city_trips_path %></h3>

<h4> <%= link_to "Add a new trip", new_trip_path %> </h4>

<%= link_to "Edit your profile", edit_user_path %>

<%= button_to "Delete your profile", {}, { method: :delete } %>

<%= button_to "Logout", {:controller=>"sessions", :action=>"logout"} , { method: :delete } %>

<%= flash[:authorized]%>

<%= flash[:notice]%>