<h2>Cities</h2>



<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search cities by country:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>



<ul>
  <% @cities.each do |city| %>
    <li><%= link_to city.name, city_path(city) %>
    </li>
  <% end %>
</ul>


