<h2>Cities</h2>
<%= form_tag(cities_path, method: "get") do %>
  <%= label_tag(:country_name, "Search cities by country:") %>
  <%= text_field_tag(:country_name) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @cities.each do |city| %>
    <li><%= link_to city.name, city_path(city) %>
    </li>
  <% end %>
</ul>
